.btn {
    color: #fff;
    padding: 0.5rem 1rem;
    font-weight: 700;
    border-radius: 0.25rem;
    -webkit-appearance: button;
    cursor: pointer;
}

.btn-blue {
    background-color: var(--color-blue);
    border-color: var(--color-blue);

    &:hover {
        background-color: var(--color-blue-dark);
        border-color: var(--color-blue-dark);
    }
}
