:root {
    --forms-input-border-color: #e2e5ec;
    --forms-input-border-color-focus: #b0b3ba;
}

form {
    width: 100%;

    .form-group {
        display: block;
        width: 100%;
        margin-bottom: 1.5rem;
    }

    label {
        display: block;
        margin-bottom: 0.75rem;
        font-weight: 500;
        font-size: 0.9rem;
    }

    input, button, textarea, select, optgroup {
        font-size: 100%;
        font-family: inherit;
    }

    input:not([type="checkbox"]):not([type="radio"]) {
        width: 100%;
        padding: 0.6rem 0.8rem;
        background-color: #fff;
        border-radius: 0.25rem;
        appearance: none;
        border: 1px solid var(--forms-input-border-color);

        &:focus {
            border-color: var(--forms-input-border-color-focus);
            outline: 0;
        }
    }

    input[type="checkbox"] {
        margin-right: 0.25rem;
    }

    button[type="submit"] {

    }
}
