:root {
    --forms-input-border-color: #e2e5ec;
    --forms-input-border-color-focus: #b0b3ba;
    --forms-input-error-border-color: #f56565;
    --forms-help-text: #718096;
}

form {
    width: 100%;

    .form-group {
        display: block;
        width: 100%;
        margin-bottom: 1.5rem;
    }

    label {
        display: block;
        margin-bottom: 0.75rem;
        font-weight: 500;
        font-size: 0.9rem;
    }

    input, button, textarea, select, optgroup {
        font-size: 100%;
        font-family: inherit;
    }

    select, input:not([type="checkbox"]):not([type="radio"]) {
        width: 100%;
        padding: 0.6rem 0.8rem;
        background-color: #F6F7FB;
        border-radius: 0.25rem;
        appearance: none;
        border: 1px solid var(--forms-input-border-color);

        &:focus {
            border-color: var(--forms-input-border-color-focus);
            outline: 0;
        }

        &:disabled {
            background-color: #f5f5f5;
            cursor: not-allowed;
        }

        &.has-error {
            border-color: var(--forms-input-error-border-color);
        }
    }

    input:not([type="checkbox"]):not([type="radio"]) {
        &:read-only {
            background-color: #f5f5f5;
            cursor: not-allowed;
        }
    }

    input[type="checkbox"] {
        margin-right: 0.25rem;
    }

    button[type="submit"] {

    }

    .error-message {
        color: var(--forms-input-error-border-color);
        font-style: italic;
        font-size: 0.8em;
        margin-top: 0.5rem;
    }

    .help-text {
        font-style: italic;
        color: var(--forms-help-text);
        margin-top: 0.5rem;
        font-size: 0.75rem;
    }
}
