table {
    width: 100%;
    table-layout: auto;
    max-width: 100%;

    tr {
        &:hover {
            ul {
                display: flex !important;

                a:hover {
                    background-color: #F6F7FB;
                }
            }
        }
    }

    td {
        border-top: 1px solid #e2e8f0;
        padding: 1rem 1.25rem;
        white-space: nowrap;

        span {
            font-size: 0.8rem;
            margin-top: 0.25rem;
            color: #999;
        }

        img.avatar {
            float: left;
            max-width: 2rem;
            border-radius: 50%;
            margin-right: 1rem;
            margin-top: 0.25rem;
        }
    }

    th {
        white-space: nowrap;
        padding: 1rem 1.25rem;
    }

    thead {
        tr {
            th {
                font-weight: 600;
                text-align: left;
            }
        }
    }

    .actions {
        position: relative;
        text-align: right;

        ul {
            position: absolute;
            z-index: 10;
            display: none;
            top: 25%;
            right: 1rem;
            box-shadow: var(--box-shadow);

            a {
                background-color: #fff;
                padding: 0.5rem 1rem;
                display: block;
                white-space: nowrap;
            }
        }
    }

    &.table-hover {
        tbody {
            tr {
                &:hover {
                    background-color: #F6F7FB;
                }
            }
        }
    }
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
