@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --admin-theme-default-bg: #eee;

    --admin-theme-default-header-bg-color: #fff;
    --admin-theme-default-header-link-color: #404E67;
    --admin-theme-default-header-link-hover-bg-color: #F6F7FB;

    --admin-theme-default-sidebar-bg-color: #404E67;
    --admin-theme-default-sidebar-link-color: #dcdcdc;
    --admin-theme-default-sidebar-section-color: #999;
    --admin-theme-default-sidebar-link-hover-color: #ffffff;
    --admin-theme-default-sidebar-link-hover-bg-color: #2d3a53;

    --admin-theme-default-content-bg-color: #F6F7FB;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: var(--admin-theme-default-header-bg-color);
    box-shadow: var(--box-shadow);

    a {
        color: var(--admin-theme-default-header-link-color);

        &.active, &:hover {
            background-color: var(--admin-theme-default-header-link-hover-bg-color);
        }
    }
}

aside.sidebar[data-theme="default"] {
    background-color: var(--admin-theme-default-sidebar-bg-color);

    .logo {
        box-shadow: var(--box-shadow);
    }

    h4 {
        color: var(--admin-theme-default-sidebar-section-color);
    }

    a {
        color: var(--admin-theme-default-sidebar-link-color);

        &.active, &:hover {
            color: var(--admin-theme-default-sidebar-link-hover-color);
            background-color: var(--admin-theme-default-sidebar-link-hover-bg-color);
        }
    }
}

.content {
    background-color: var(--admin-theme-default-content-bg-color);
}
