@import "../base";

// COMPONENTS
@import "../components/forms";

// THEMES
@import "themes/default";

// VARIABLES
:root {
    --admin-header-height: 60px;
    --admin-sidebar-width: 220px;
}

html, body {
    height: 100vh;
}

header {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: var(--admin-header-height);
    justify-content: space-between;

    .right-menu {
        justify-self: flex-end;
    }
}

#wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

aside.sidebar {
    display: flex;
    flex-direction: column;
    width: var(--admin-sidebar-width);

    .logo {
        text-align: center;
        width: var(--admin-sidebar-width);
        height: var(--admin-header-height);
        padding: 0.5rem 0;

        img {
            max-height: 40px;
        }
    }

    h4, a {
        padding: 0 1.25rem;
    }

    a {
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        text-decoration: none;

        i {
            margin-right: 0.25rem;
        }
    }

    h4 {
        font-weight: 500;
        letter-spacing: 1px;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }

    .submenu {
        display: flex;
        flex-direction: column;

        a {
            padding-left: 2.25rem;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
