@import "../base";

// COMPONENTS
@import "../components/forms";
@import "../components/cards";
@import "components/tables";

// THEMES
@import "themes/default";

// VENDOR
@import "~@chenfengyuan/datepicker/dist/datepicker.min.css";

// VARIABLES
:root {
    --admin-header-height: 60px;
    --admin-sidebar-width: 240px;
    --admin-footer-height: 60px;
}

html, body {
    height: 100vh;
}

header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;

    a {
        display: inline-block;
        height: 100%;
        padding: 0 0.85rem;
        line-height: var(--admin-header-height);
    }

    .left-menu, .right-menu {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .right-menu {
        justify-self: flex-end;
    }

    .avatar {
        display: flex;
        align-items: center;

        img {
            max-height: 30px;
            border-radius: 50%;
        }
    }
}

#wrapper {
    display: flex;
    flex-direction: row;
    min-height: 100%;
}

aside.sidebar {
    display: none;
    flex-direction: column;
    min-width: var(--admin-sidebar-width);
    padding-bottom: 2rem;

    .logo {
        width: var(--admin-sidebar-width);
        height: var(--admin-header-height);
        padding: 0.5rem 0;

        img {
            max-height: 40px;
            margin: 0 auto;
        }
    }

    h4, a {
        padding: 0 1.25rem;
    }

    a {
        display: flex;
        align-items: center;
        padding-top: 0.85rem;
        padding-bottom: 0.85rem;
        text-decoration: none;

        i {
            margin-right: 0.5rem;
        }

        &.open {
            .arrow {
                &::after {
                    content: "\F107";
                }
            }
        }
    }

    h4 {
        font-weight: 500;
        letter-spacing: 1px;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }

    .submenu {
        display: none;
        flex-direction: column;

        a {
            padding-left: 2.25rem;
        }

        &.open {
            display: flex;
        }

        i {
            font-size: 0.6rem;
        }
    }

    .arrow {
        margin-left: auto;

        &::after {
            content: "\F104";
        }
    }
}

footer {
    position: absolute;
    font-size: 0.75rem;
    height: var(--admin-footer-height);
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;

    ul {
        display: flex;
        width: 100px;
        flex-direction: row;
        list-style: none;
        justify-content: space-around;
    }
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content {
    position: relative;
    height: 100%;
    margin-bottom: - var(--admin-footer-height);
}

form.search-form {
    display: inline-block;
    margin: 0 1rem;
    width: auto;

    input {
        padding: 0.25rem 0.5rem !important;
    }
}

@screen lg {
    aside.sidebar {
        display: flex;
    }
}
