@import "../base";

// COMPONENTS
@import "../components/forms";
@import "../components/cards";

// THEMES
@import "themes/default";

// VARIABLES
:root {
    --admin-header-height: 60px;
    --admin-sidebar-width: 240px;
}

html, body {
    height: 100vh;
}

header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;

    a {
        display: inline-block;
        height: 100%;
        padding: 0 0.85rem;
        line-height: var(--admin-header-height);
    }

    .left-menu, .right-menu {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .right-menu {
        justify-self: flex-end;
    }

    .avatar {
        display: flex;
        align-items: center;

        img {
            max-height: 30px;
            border-radius: 50%;
        }
    }
}

#wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

aside.sidebar {
    display: flex;
    flex-direction: column;
    min-width: var(--admin-sidebar-width);
    padding-bottom: 2rem;
    overflow-y: auto;
    overflow-x: hidden;

    .logo {
        width: var(--admin-sidebar-width);
        height: var(--admin-header-height);
        padding: 0.5rem 0;

        img {
            max-height: 40px;
            margin: 0 auto;
        }
    }

    h4, a {
        padding: 0 1.25rem;
    }

    a {
        padding-top: 0.85rem;
        padding-bottom: 0.85rem;
        text-decoration: none;

        i {
            margin-right: 0.25rem;
        }

        &.open {
            .arrow {
                &::after {
                    content: "\F107";
                }
            }
        }
    }

    h4 {
        font-weight: 500;
        letter-spacing: 1px;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }

    .submenu {
        display: none;
        flex-direction: column;

        a {
            padding-left: 2.25rem;
        }

        &.open {
            display: flex;
        }

        i {
            font-size: 0.6rem;
        }
    }

    .arrow {
        float: right;

        &::after {
            content: "\F104";
        }
    }
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content {
    height: 100%;
}
