@import "../base";

// COMPONENTS
@import "../components/forms";

body.auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('/images/auth/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.auth-form {
    width: 100%;
    max-width: 400px;

    form {
        label {
            color: #fff;
            font-weight: 300;
        }
    }
}

img.auth-logo {
    max-width: 10rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
